/* ★common 공통적으로 영향을 미치는 선택자와 css★ */

body{
  color:#333;
  font-size:16px;
  font-weight:400;
  line-height:1.4;
  font-family: 'Nanum Gothic', sans-serif;
}
/* img가 inline요소라서 baseline위에 배치되어있는데 밑에 공간을 없애주기 위해서 사용 */
img{
  display:block;
}
a{
  text-decoration:none;
}
.inner{
  width:1100px;
  margin: 0 auto;
  /* 위치상의 부모가 될수있는 기준 */
  position:relative;
}

/* ★HEADER★ */
header{
  background:#f6f4f0;
  border-bottom:1px solid #c8c8c8;
}
header > .inner{
  height:120px;
  /* common 에 있는 .inner와 겹치므로 주석처리 */
  /* margin: 0 auto;
  position:relative;
  width:1100px; */
  
}
header .logo{
  height:75px;
  /* 로고 새로 가운데 정렬 */
  position:absolute;
  top:0px;
  bottom:0px;
  left:0;
  margin:auto;
}

header .sub-menu{
  position:absolute;
  top:10px;
  right:0;
  display:flex;
}

header .sub-menu ul.menu{
  /* Arial 폰트는 대부분 브라우저에 있음. 만약 없으면 sans-serif */
  font-family: Arial, sans-serif; 
  display:flex;
}

header .sub-menu ul.menu li{
  position:relative;
}
/* before 가상요소는 inline값 */
header .sub-menu ul.menu li::before{
  content:"";
  /* display:block;  position:absolute를 쓰면 인라인요소가 블럭으로 바뀌기에 이부분은 지워도 됨
  가상요소선택자는 인라인요소임 */
  width:1px;
  height:12px;
  background:#e5e5e5;
  /* 배치해야함 */
  position:absolute;
  top:0;
  bottom:0;
  margin:auto;
}
header .sub-menu ul.menu li:first-child::before{
  display:none;
}
header .sub-menu ul.menu li a{
  font-size:12px;
  /* a링크의 글씨가 만약 작아졌다면... 간격이 넓어지는데 이곳 클릭하면 링크로 안넘어가니까 글자사이의 간격을 줄일 필요가 있다. 그때 padding과 block을 씀 */
  padding:11px 16px;
  /* block 요소는 가로사이즈를 최대한 늘어나려고함 */
  display:block;
  color:#656565;

  
}
header .sub-menu ul.menu li a:hover{
  color:#000;
}

header .sub-menu .search{
  height:34px;
  position:relative;
}
header .sub-menu .search input{
  width:36px;
  height:34px;
  padding:4px 10px;
  border: 1px solid #ccc;
  box-sizing:border-box;
  border-radius:5px;
  outline:none;
  /* 브라우저마다 input 요소에 제공하는 색상 달라서 추가 */
  background:#fff;
  color:#777;
  font-size:12px;
  transition: width 0.4s;
}
/* input요소에 focus 되면 늘어나셈 */
header .sub-menu .search input:focus{
  width:190px;
  border-color:#669900;
}
header .sub-menu .search .material-icons{
  height:24px;
  position:absolute;
  top:0;
  bottom:0;
  right:5px;
  margin:auto;
  /* transition 은 요소가 변하기 전에 적용 */
  transition: all .4s;
}
header .sub-menu .search.focused .material-icons{
  opacity:0;
}
header .main-menu{
  display:flex;
  position:absolute;
  bottom:0;
  right:0;
  /* 메인메뉴 호버하면서 맨 위로 나와야하니까 z-index를 주었음 */
  z-index:1;
}
header .main-menu .item{

}
header .main-menu .item .item__name{
  padding: 10px 20px 34px 20px;
  font-family:Arial,sans-serif;
  font-size:13px;
}
/* item__name이 아니라 item에 hover하는 이유는 메인메뉴뿐만아니라 드롭다운메뉴에도 영향이 가야해서 아이템컨텐츠가 화면에 나와야함 */
header .main-menu .item:hover .item__name{
  background:#2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}
header .main-menu .item .item__contents{
  width:100%;
  /* 뷰포트를 기준으로 배치 */
  /* top,bottom 속성을 사용하지 않아 수직 위치 값이 없다면, 요소의 원래 위치를 그대로 사용한다. 만약, position:absolute로 했다면, 위치상 부모 요소를 기준으로 하므로 화면의 뷰포트 좌우 끝까지 늘어날수 없게됨 */
  position:fixed;
  left:0;
  display:none;
}
header .main-menu .item:hover .item__contents{
  display:block;
}
header .main-menu .item .item__contents .contents__menu{
  background:#2c2a29;
  /* 컨텐츠를 넣으면 height은 굳이 필요없어. height 값을 안넣으면 컨텐츠 크기만큼 늘어남 */
  /* height:200px; */
}
/*  > 바로 자식에 해당하는 선택자 */
header .main-menu .item .item__contents .contents__menu > ul{
  display:flex;
  padding:20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul>li{
  width:220px;
}
header .main-menu .item .item__contents .contents__menu > ul>li h4{
  padding:3px 0 12px 0;
  font-size:14px;
  color:#fff;
}
header .main-menu .item .item__contents .contents__menu > ul>li ul li{
  padding:5px 0;
  font-size:12px;
  color:#999;
  cursor:pointer;
}
header .main-menu .item .item__contents .contents__texture{
  background:orange;
  height:100px;
}
